##############################
## POSTGRESQL BACKUP CONFIG ##
##############################

# pg_backup.config

# Usuário opcional do sistema para executar backups. Se o usuário com o qual o script está sendo executado não corresponde a isso o script termina. Deixe em branco para ignorar a verificação.
BACKUP_USER= 

# Nome de host opcional para aderir às políticas pg_hba. O padrão será "localhost" se nenhum for especificado.
HOSTNAME=127.0.0.1

# Nome de usuário opcional para conectar ao banco de dados. O padrão será "postgres" se nenhum for especificado.
USERNAME=your-username

PORT=5432
# Senha opcional, altere para o correto!
PASSWORD=1234

# Este diretório será criado se não existir. DEVE ser totalmente acessível pelo usuário do sistema;
BACKUP_DIR=/home/fredricksson/backups/

# Lista de strings a serem comparadas no nome do banco de dados, separadas por espaço ou vírgula, para as quais apenas
# deseja manter um backup do esquema, não dos dados. Quaisquer nomes de banco de dados que contenham qualquer um desses
# valores serão considerados candidatos. (por exemplo, "system_log" corresponderá a "dev_system_log_2010-01")
SCHEMA_ONLY_LIST=""

# Irá produzir um backup de formato personalizado se definido como "sim"
ENABLE_CUSTOM_BACKUPS=yes

# Irá produzir um backup de formato simples compactado se definido como "sim"
ENABLE_PLAIN_BACKUPS=yes

# Irá produzir um arquivo sql compactado contendo os globais do cluster, como usuários e senhas, se definido como "sim"
ENABLE_GLOBALS_BACKUPS=yes

#### SETTINGS FOR ROTATED BACKUPS (pg_backup_rotated.sh) ####

# De qual dia fazer o backup semanal (1-7 = segunda a domingo)
DAY_OF_WEEK_TO_KEEP=5

# Número de dias para manter backups diários
DAYS_TO_KEEP=7

# Quantas semanas para manter backups semanais
WEEKS_TO_KEEP=5

######################################
# Script baseado em https://wiki.postgresql.org/wiki/Automated_Backup_on_Linux
